@charset "utf-8";

@font-face {
    font-family: 'DIN 1451 Std Engschrift';
    src: url('font/din_1451_std_engschrift.eot');
    src: url('font/din_1451_std_engschrift.eot?#iefix') format('embedded-opentype'),/* ie 6,7,8 적용 embedded-opentype ie 8,9 적용 */
        url('font/din_1451_std_engschrift.svg#DIN 1451 Std Engschrift') format('svg'),/*모바일*/
        url('font/din_1451_std_engschrift.woff') format('woff'), /* ie 제외한 나머지 */
        url('font/din_1451_std_engschrift.ttf') format('truetype');
    font-weight: normal; font-style: normal;}

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,600);

/*html5 reset*/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong,sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,figure, figcaption, footer, header,hgroup,menu, nav, output, ruby, section, summary,time, mark, audio, video{margin:0;padding:0;border:0;font-size:100%;font: inherit;vertical-align: baseline}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section{display: block}
html,body{-webkit-text-size-adjust:none}
body{font-family:"DIN 1451 Std Engschrift", "Source Sans Pro", "Open Sans", Arial, san-serif; line-height:1}
ol, ul, dl{list-style:none}
blockquote, q{quotes: none}
blockquote:before, blockquote:after,q:before, q:after{content:'';content: none}
table,th,td{border-spacing:0;border-collapse:collapse}
h1, h2, h3, h4, h5, h6{font-size:1em}
input, textarea {font-size:1em}
a:link, a:visited, a:hover, a:active {color:inherit;text-decoration:none}
img {margin:0;padding:0;border:0}
strong{font-weight:300}

html,body{height:100%}

.fullscreen {width:100%;height:100%;}
.fullwidth {width:100%;}

.clearfix:after {content:".";display:block;height:0;clear:both;visibility:hidden;}







/* TYPOGRAPHY */
h1  {font-size:2.5em;color:#1603ff;letter-spacing:0.1em;line-height:1.1em;}
h2  {font-size:2.2em;color:#1603ff;letter-spacing:0.1em;line-height:1.25em;}
h3  {font-size:1.8em;color:#1603ff;letter-spacing:0.1em;line-height:1.2em;}
p   {font-size:0.8em;color:#555;letter-spacing:0.03em;line-height:1.5em;
     font-family:"Roboto condensed", "Open Sans", sans-serif; font-weight:300;}

p.line{line-height:1.6em;}

p.kop{font-size:1.0em;color:#1603ff;letter-spacing:0.05em;line-height:1.6em;
     font-family:"Open Sans", sans-serif; font-weight:300;}

strong{font-weight:600;}

.aboutmenutitle {
        font-size:2.5em;color:#1603ff;letter-spacing:0.1em;
        width:86%; margin:0px auto 16px auto; padding-top:160px;
        }

.workmenutitle {
        font-size:2.5em;color:#1603ff;letter-spacing:0.1em;
        width:86%; margin:0px auto 16px auto; padding-top:160px;
        }

hr {border:0;height:5px;}

.none{display:none;}


        #frameborder-top {position:fixed;top:4px;left:4px;right:4px;height:6px;background-color:#1603ff;z-index:99;}
        #frameborder-right {position:fixed;top:4px;right:4px;bottom:4px;width:6px;background-color:#1603ff;z-index:99;}
        #frameborder-bottom {position:fixed;bottom:4px;left:4px;right:4px;height:6px;background-color:#1603ff;z-index:99;}
        #frameborder-left {position:fixed;top:4px;left:4px;bottom:4px;width:6px;background-color:#1603ff;z-index:99;}

/* 브라우저 */
.notice {
    position:absolute;
    width:100%;
    bottom:30px;
    left:0;
    color:#aaa;
    font-size:0.7em;
    font-family:"Open Sans", sans-serif;
    z-index:1;
    text-align:center;
    box-sizing: border-box;
    }



/* LOGO */
.toplogo {
    position:absolute;
    left:50%;
    top:50%;
    width:422px;
    margin:-120px 0 0 -211px;
    z-index:2;
    }

.basiclogo {
    position:fixed;
    left:3%;;
    top:40px;
    z-index:9;
    width:40px;
	opacity:0;
    }
    .basiclogo img{width:100%;}



/* NAVIGATION */
nav {position:fixed;
width:100%;
color:#1603ff;
font-size:1.0em;
letter-spacing:0.1em;
top:40px;
left:0;
right:0;
z-index:100;
}
    nav ul {position:relative;}

        nav ul.menu{}
                ul.menu > li {position:absolute;}
                        .menu li.email {right:-40px;top:76px;}
                        .menu li.workmenu {left:7%;}

                            li.workmenu .workbar{
                                    position:absolute;
                                    display:block;
                                    top:2px;
                                    left:0px;
                                    width:0px;
                                    height:6px;
                                    background-color:#1603ff;
                                    z-index:101;
                                    transition:all 0.5s linear;
                                    -webkit-transition:all 0.3s ease;
                                    -moz-transition:all 0.3s ease;}






        nav ul.category {
            height:40px;
            margin-bottom:10px;
            margin-top:-13px;
            padding-top:20px;
            overflow:hidden;
            }
                .category li{
                    transform:translate(0, -300%);
                    -webkit-transform:translate(0, -300%);
                    float:left;
                    margin-right:20px;
                    transition:0.5s all ease;}
                        .category li.all {}
                        .category li.graphicdesign {-webkit-transition-delay: 0.1s;
                                                    transition-delay: 0.1s;}
                        .category li.bookdesign {-webkit-transition-delay: 0.2s;
                                                    transition-delay: 0.2s;}
                        .category li.branding {-webkit-transition-delay:0.3s;
                                                transition-delay:0.3s;}

                        nav ul.menu li.workmenu:hover ul.category li{transform:translate(0,0);
                        -webkit-transform:translate(0,0);}
                        nav ul.menu li.workmenu:hover .workbar{width:236px;}


.rotate {

/* Safari */
-webkit-transform: rotate(90deg);

/* Firefox */
-moz-transform: rotate(90deg);

/* IE */
-ms-transform: rotate(90deg);

/* Opera */
-o-transform: rotate(90deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);

}


/* section + arrow */
section {
	position: relative;
	width: 100%;
	height: 100%;
}
section::after {
	position: absolute;
	bottom: 0;
	left: 0;
	content: '';
	width: 100%;
	height: 100%;
}

.arrow a {
	position: absolute;
	bottom: 20px;
	left: 50%;
	z-index: 10;
	display: inline-block;
}.arrow a:hover {
	opacity: .8;
}




#section01 a {

}
#section01 a span {
	position: absolute;
	top: -60px;
	left: 50%;
	width: 24px;
	height: 24px;
	margin-left: -12px;
	border-left: 6px solid #1603ff;
	border-bottom: 6px solid #1603ff;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-animation: sdb01 2s infinite;
	animation: sdb01 2s infinite;
	box-sizing: border-box;
}
@-webkit-keyframes sdb01 {
	0% {-webkit-transform: rotate(-45deg) translate(0, 0);}
	20% {-webkit-transform: rotate(-45deg) translate(-6px, 6px);}
	40% {-webkit-transform: rotate(-45deg) translate(0, 0);}
}
@keyframes sdb01 {
	0% {transform: rotate(-45deg) translate(0, 0);}
	20% {transform: rotate(-45deg) translate(-6px, 6px);}
	40% {transform: rotate(-45deg) translate(0, 0);}
}





#section02 a {

}
#section02 a span {
	position: absolute;
	top: -60px;
	left: 50%;
	width: 18px;
	height: 18px;
	margin-left: -12px;
	border-left: 6px solid #1603ff;
	border-bottom: 6px solid #1603ff;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-animation: sdb02 2s infinite;
	animation: sdb02 2s infinite;
	box-sizing: border-box;
}
@-webkit-keyframes sdb02 {
	0% {-webkit-transform: rotate(-45deg) translate(0, 0);}
	20% {-webkit-transform: rotate(-45deg) translate(-6px, 6px);}
	40% {-webkit-transform: rotate(-45deg) translate(0, 0);}
}
@keyframes sdb02 {
	0% {transform: rotate(-45deg) translate(0, 0);}
	20% {transform: rotate(-45deg) translate(-6px, 6px);}
	40% {transform: rotate(-45deg) translate(0, 0);}
}




#section03 {}









/* ABOUT */
#about{width:100%;height:100%;}

#about .contents {
    width:86%;
    height:62%;
    max-height:70%;
    margin:auto;
    }

    #about ul li{
        float:left;
        width:32.4%;
        margin-right:1.4%;
        margin-bottom:3.6%;
        max-height: 100%;
        overflow: hidden;
        }

    #about ul li.aboutwrapA {height:520px;}

    #about ul li.aboutwrapB {height:520px;}

    #about ul li.aboutwrapC {height:520px;}

    #about ul li:nth-child(3n) {
        margin-right: 0;
        }

    #about ul li img{margin-bottom:2px;}



        #about ul li div.iam{height:270px;padding:5% 5% 4% 5%;margin-bottom:20px;overflow:hidden;
                        border:10px solid #1603ff;
                        -moz-box-sizing:    border-box;   /* Firefox 1, probably can drop this */
                        -webkit-box-sizing: border-box;   /* Safari 3-4, also probably droppable */
                        box-sizing:        border-box;   /* Everything else */}

        #about ul li div.interests{width:100%;height:270px;padding:5% 5% 4% 5%;
                        border:10px solid #1603ff;
                        -moz-box-sizing:    border-box;   /* Firefox 1, probably can drop this */
                        -webkit-box-sizing: border-box;   /* Safari 3-4, also probably droppable */
                        box-sizing:        border-box;   /* Everything else */}

        #about ul li div.whatido{width:100%;height:460px;padding:5% 5% 4% 5%;margin-bottom:3.6%;
                        border:10px solid #1603ff;
                        -moz-box-sizing:    border-box;   /* Firefox 1, probably can drop this */
                        -webkit-box-sizing: border-box;   /* Safari 3-4, also probably droppable */
                        box-sizing:        border-box;   /* Everything else */}
                .wrap{width:100%;
                    display:-webkit-box; /* 사파리 및 크롬 호환 */
                    display:-webkit-flex;
                    display:-moz-box; /* 오페라 호환 */
                    display:-ms-flexbox; /* IE10 호환 */
                    display:flex}
                .domain{width:50%;
                    -webkit-flex:1; /* 사파리 및 크롬 */
                    -moz-flex:1; /* 오페라 */
                    -ms-flexbox:1; /* IE10 */
                    flex:1;
                    margin-bottom:15px;}

        #about ul li div.ilearned{width:100%;height:170px;padding:5% 5% 4% 5%;margin-bottom:20px;
                        border:10px solid #1603ff;
                        -moz-box-sizing:    border-box;   /* Firefox 1, probably can drop this */
                        -webkit-box-sizing: border-box;   /* Safari 3-4, also probably droppable */
                        box-sizing:        border-box;   /* Everything else */}

        #about ul li div.iworked{width:100%;height:270px;padding:5% 5% 4% 5%;margin-bottom:20px;
                        border:10px solid #1603ff;
                        -moz-box-sizing:    border-box;   /* Firefox 1, probably can drop this */
                        -webkit-box-sizing: border-box;   /* Safari 3-4, also probably droppable */
                        box-sizing:        border-box;   /* Everything else */}

        #about ul li div.contact{width:100%;height:170px;padding:5% 5% 4% 5%;
                        border:10px solid #1603ff;
                        -moz-box-sizing:    border-box;   /* Firefox 1, probably can drop this */
                        -webkit-box-sizing: border-box;   /* Safari 3-4, also probably droppable */
                        box-sizing:        border-box;   /* Everything else */}

/* WORK */

.workmenutitle{font-size:2.5em;color:#1603ff;letter-spacing:0.1em;margin-bottom:16px;
        width:100%;}

.work {
    width:87%;
    margin:0 6% 100px auto;
    }

    .work ul {width:100%;margin:0;}

    .work ul li{
        float:left;
        position:relative;
        width:31.9%;
        margin-right: 1.4%;
        margin-bottom:1.4%;
        overflow:hidden;
		cursor:pointer
        }

.work .info > div{
	position:fixed;
	top:50px;
	display:none;
	width:100%;
	text-align:center

}

/*
    .work ul li:nth-child(3n) {
        margin-right: 0;
        }*/

    .work ul li .thumbnail{
        position:absolute;
        left:0;
        margin:0;padding:0;
        width:100%;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        }
            .thumbnail img{width:100%;height:auto;}

    .work ul li img{width:100%;height:auto;}


    .work ul li .worktitle{
            position:absolute;
            top:8%;left:-100%;
            color:#1603ff;
            font-size:2.0em;
            letter-spacing: 2pt;
            transition: all 0.5s;
            -webkit-transition: all 0.5s;
            z-index:11;
            }

        .work ul li .worktitle-white{
            position:absolute;
            top:8%;left:-100%;
            color:white;
            font-size:2.0em;
            letter-spacing: 2pt;
            transition: all 0.5s;
            -webkit-transition: all 0.5s;
            z-index:11;
            }

        .work ul li .underline{
            position:absolute;
            top:16%;left:-150%;
            height:6px;
            background-color:#1603ff;
            transition: all 0.5s;
            -webkit-transition: all 0.6s;
            z-index:11;
            }

        .work ul li .underline-white{
            position:absolute;
            top:16%;left:-150%;
            height:6px;
            background-color:white;
            transition: all 0.5s;
            -webkit-transition: all 0.6s;
            z-index:11;
            }

        .work ul li .subtitle{
            position:absolute;
            top:24%;left:-200%;
            font-size:1.2em;
            letter-spacing:1px;
            line-height:1.3em;
            color:#1603ff;
            transition: all 0.7s;
            -webkit-transition: all 0.7s;
            z-index:11;
            }

        .work ul li .subtitle-white{
            position:absolute;
            top:24%;left:-200%;
            font-size:1.2em;
            letter-spacing:1px;
            line-height:1.3em;
            color:white;
            transition: all 0.7s;
            -webkit-transition: all 0.7s;
            z-index:11;
            }

        .work ul li .click{position:absolute;top:0;left:0;width:100%;height:100%;z-index:12;}



    .work ul li:hover .thumbnail{left:65%}
    .work ul li:hover .worktitle-white{left:8%}
    .work ul li:hover .underline-white{left:8%}
    .work ul li:hover .subtitle-white{left:8%}
    .work ul li:hover .worktitle{left:8%}
    .work ul li:hover .underline{left:8%}
    .work ul li:hover .subtitle{left:8%}




    .title{
        border:6px solid #1603ff;
        -moz-box-sizing:    border-box;   /* Firefox 1, probably can drop this */
        -webkit-box-sizing: border-box;   /* Safari 3-4, also probably droppable */
        box-sizing:        border-box;   /* Everything else */
        }

    .title img {width:100%;}

    .cate {display:none;}



/* SLIDER */
#slider {
	width:100%;
	height:100%;
	margin:0;
    z-index:3;
    overflow:hidden;
    position:relative;
}

#slider ul {
	position:relative;
    width:100%;
	height:100%;
}

#slider li {
    position:absolute;
	list-style:none;
    margin-top:-400px;
    top:50%;
}

                #slider li.slideone {
                    -moz-animation:cycle 30s ease infinite;
                    -webkit-animation:cycle 30s ease infinite;
                    animation:cycle 30s ease infinite;
                }

                #slider li.slidetwo {
                    -moz-animation:cycletwo 30s ease infinite;
                    -webkit-animation:cycletwo 30s ease infinite;
                    animation:cycletwo 30s ease infinite;
                }

                #slider li.slidethree {
                    -moz-animation:cyclethree 30s ease infinite;
                    -webkit-animation:cyclethree 30s ease infinite;
                    animation:cyclethree 30s ease infinite;
                }

                #slider li.slidefour {
                    -moz-animation:cyclefour 30s ease infinite;
                    -webkit-animation:cyclefour 30s ease infinite;
                    animation:cyclefour 30s ease infinite;
                }

                #slider li.slidefive {
                    -moz-animation:cyclefive 30s ease infinite;
                    -webkit-animation:cyclefive 30s ease infinite;
                    animation:cyclefive 30s ease infinite;
                }

                #slider li.slidesix {
                    -moz-animation:cyclesix 30s ease infinite;
                    -webkit-animation:cyclesix 30s ease infinite;
                    animation:cyclesix 30s ease infinite;
                }

                 #slider li.slideseven {
                    -moz-animation:cycleseven 30s ease infinite;
                    -webkit-animation:cycleseven 30s ease infinite;
                    animation:cycleseven 30s ease infinite;
                }
                 #slider li.slideeight {
                    -moz-animation:cycleeight 30s ease infinite;
                    -webkit-animation:cycleeight 30s ease infinite;
                    animation:cycleeight 30s ease infinite;
                }


                @keyframes cycle {
                    0%  {left:150%;}
                    3%  {left:50%; margin-left:-484px;}
                    12% {left:50%; margin-left:-484px;}
                    15% {left:-100%;}
                    100%{left:-100%;}
                }


                @-webkit-keyframes cycle {
                    0%  {left:150%;}
                    3%  {left:50%; margin-left:-484px;}
                    12% {left:50%; margin-left:-484px;}
                    15% {left:-100%;}
                    100%{left:-100%;}
                }

                @keyframes cycletwo {
                    0%  {left:150%;}
                    13% {left:150%;}
                    15% {left:50%; margin-left:-484px;}
                    24% {left:50%; margin-left:-484px;}
                    27% {left:-100%;}
                    100%{left:-100%;}
                }

                @-webkit-keyframes cycletwo {
                    0%  {left:150%;}
                    13% {left:150%;}
                    15% {left:50%; margin-left:-484px;}
                    24% {left:50%; margin-left:-484px;}
                    27% {left:-100%;}
                    100%{left:-100%;}
                }

                @keyframes cyclethree {
                    0%  {left:150%;}
                    24% {left:150%;}
                    27% {left:50%; margin-left:-484px;}
                    36% {left:50%; margin-left:-484px;}
                    39% {left:-100%;}
                    100%{left:-100%;}
                }

                @-webkit-keyframes cyclethree {
                    0%  {left:150%;}
                    24% {left:150%;}
                    27% {left:50%; margin-left:-484px;}
                    36% {left:50%; margin-left:-484px;}
                    39% {left:-100%;}
                    100%{left:-100%;}
                }


                @keyframes cyclefour {
                    0%  {left:150%;}
                    36% {left:150%;}
                    39% {left:50%; margin-left:-484px;}
                    48% {left:50%; margin-left:-484px;}
                    51% {left:-100%;}
                    100%{left:-100%;}
                }

                @-webkit-keyframes cyclefour {
                    0%  {left:150%;}
                    36% {left:150%;}
                    39% {left:50%; margin-left:-484px;}
                    48% {left:50%; margin-left:-484px;}
                    51% {left:-100%;}
                    100%{left:-100%;}
                }

                @keyframes cyclefive {
                    0%  {left:150%;}
                    48% {left:150%;}
                    51% {left:50%; margin-left:-484px;}
                    60% {left:50%; margin-left:-484px;}
                    63% {left:-100%;}
                    100%{left:-100%;}
                }

                @-webkit-keyframes cyclefive {
                    0%  {left:150%;}
                    48% {left:150%;}
                    51% {left:50%; margin-left:-484px;}
                    60% {left:50%; margin-left:-484px;}
                    63% {left:-100%;}
                    100%{left:-100%;}
                }


                @keyframes cyclesix {
                    0%  {left:150%;}
                    60% {left:150%;}
                    63% {left:50%; margin-left:-484px;}
                    72% {left:50%; margin-left:-484px;}
                    75% {left:-100%;}
                    100%{left:-100%;}
                }

                @-webkit-keyframes cyclesix {
                    0%  {left:150%;}
                    60% {left:150%;}
                    63% {left:50%; margin-left:-484px;}
                    72% {left:50%; margin-left:-484px;}
                    75% {left:-100%;}
                    100%{left:-100%;}
                }

                @keyframes cycleseven {
                    0%  {left:150%;}
                    72% {left:150%;}
                    75% {left:50%; margin-left:-484px;}
                    84% {left:50%; margin-left:-484px;}
                    87% {left:-100%;}
                    100%{left:-100%;}
                }

                @-webkit-keyframes cycleseven {
                    0%  {left:150%;}
                    72% {left:150%;}
                    75% {left:50%; margin-left:-484px;}
                    84% {left:50%; margin-left:-484px;}
                    87% {left:-100%;}
                    100%{left:-100%;}
                }

                @keyframes cycleeight {
                    0%  {left:150%;}
                    84% {left:150%;}
                    87% {left:50%; margin-left:-484px;}
                    96% {left:50%; margin-left:-484px;}
                    100% {left:-100%;}
                }

                @-webkit-keyframes cycleeight {
                    0%  {left:150%;}
                    84% {left:150%;}
                    87% {left:50%; margin-left:-484px;}
                    96% {left:50%; margin-left:-484px;}
                    100% {left:-100%;}
                }




/* Footer */
.copyright {display: block; position:relative;width:86%;margin:40px auto;
    color:#1603ff;font-size:0.9em;letter-spacing:0.1em;line-height:1.5em;}



/* 반응형-스마트폰 */
    @media (max-width:500px) {

        #frameborder-top {position:fixed;top:4px;left:4px;right:4px;height:6px;background-color:#1603ff;z-index:99;}
        #frameborder-right {position:fixed;top:4px;right:4px;bottom:4px;width:6px;background-color:#1603ff;z-index:99;}
        #frameborder-bottom {position:fixed;bottom:4px;left:4px;right:4px;height:6px;background-color:#1603ff;z-index:99;}
        #frameborder-left {position:fixed;top:4px;left:4px;bottom:4px;width:6px;background-color:#1603ff;z-index:99;}


    .mobilehide {display:none;}

.emailmobile {display:block;
position:absolute;
width:100%;
color:#1603ff;
font-size:1.0em;
letter-spacing:0.1em;
top:30px;
left:0;
right:0;
z-index:100;text-align:center;}




        nav {position:fixed;
            color:#1603ff;
            font-size:1em;
            letter-spacing:0.1em;
            top:30px;}

        nav ul.menu{}
            .menu li {position:absolute;}
                    .menu li.aboutmenu {left:120px;}
                    .menu li.workmenu {left:180px;}

            nav ul.workmenu {
                position:absolute;
                left:180px;
                top:30px;
                margin-bottom:15px;}

                nav ul.workmenu li {display:block; margin-bottom:20px;}


                           li.aboutmenu .aboutbar{
                                    top:2px;
                                    height:6px;}

                            li.workmenu .workbar{
                                    top:2px;
                                    height:6px;
                                    background-color:#1603ff;
                                    z-index:101;
                                    transition:all 0.3s linear;}


                        nav ul.menu li.workmenu:hover ul.category li{transform:translate(0,0)}
                        nav ul.menu li.workmenu:hover .workbar{width:60px;}
                        nav ul.menu li.aboutmenu:hover .aboutbar{width:58px;}

            nav ul.category {
            width:200px;
            height:400px;
            margin-bottom:10px;
            margin-top:-7px;
            padding-top:20px;
            overflow:hidden;
            }

            .category li{
                transform:translate(0, -800px);
                font-size:1em;
                margin-right:100px;margin-bottom:5px;}


        .title{
        border:6px solid #1603ff;
        -moz-box-sizing:    border-box;   /* Firefox 1, probably can drop this */
        -webkit-box-sizing: border-box;   /* Safari 3-4, also probably droppable */
        box-sizing:        border-box;   /* Everything else */
        }

    .basiclogo {
        position:fixed;
        left:5%;
        top:20px;
        z-index:9;
        width:40px;
        }
        .basiclogo img{width:100%;}



        #section01 a span {
            position: absolute;
            top: -60px;
            left: 50%;
            width: 16px;
            height: 16px;
            margin-left: -12px;
            border-left: 6px solid #1603ff;
            border-bottom: 6px solid #1603ff;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            -webkit-animation: sdb01 2s infinite;
            animation: sdb01 2s infinite;
            box-sizing: border-box;
        }


    .work {
    width:80%;
    height:auto;
    margin:100px auto;
    }

       .work ul li{
        float:left;
        width:100%;
        margin-bottom:12px;
        }

        .work ul li img {width:100%;}

        .work ul li .worktitle{font-size:1.4em;}
        .work ul li .worktitle-white{font-size:1.4em;}

        .work ul li .subtitle{font-size:1.0em;}
        .work ul li .subtitle-white{font-size:1.0em;}

        .work ul li .underline{
            top:18%;
            height:6px;}

        .work ul li .underline-white{
            top:18%;
            height:6px;}



    /* 스마트폰 - 어바웃 */

   #about {
        width:80%;
        margin:0 auto;
        }

        #about .contents {
        width:100%;
        height:auto;
        }

        .aboutmenutitle {
        font-size:2.5em;color:#1603ff;letter-spacing:0.1em;
        width:100%;
        }


    #about ul {width:100%;}

        #about ul li{
        float:left;
        width:100%;
        }

        #about ul li h3{font-size:1.2em;line-height:1.2em;}

        #about ul li img{height:40px; margin:0 0 12px 0;}

                #about ul li div.whatido{border:6px solid #1603ff;height:424px;}
                #about ul li div.iam{border:6px solid #1603ff;margin:0;height:170px;}
                #about ul li div.touch{border:6px solid #1603ff;}

            #about ul li.aboutwrapA {height:170px;}

    #about ul li.aboutwrapB {height:424px;}

    #about ul li.aboutwrapC {height:100px;}




    /*
    #about {
        width:100%;
        margin:100px auto;
        }

        #about ul li{
            float:left;
            width:80%;
            margin:0 10% 30px 10%;
            text-align: center;
            }

        #about ul li h3{font-size:1.3em;}

            #about ul li img {height:80px;width:auto;margin:0 auto;}*/


    /* 스마트폰 - 슬라이더 */
    #slider {
        width:100%;
        height:100%;
        margin:0;
        z-index:10;
        overflow:hidden;
        }

            #slider ul {
                position:relative;
                width:100%;
                height:100%;
                }

            #slider li {
                position:absolute;
                list-style:none;
                width:300px;
                }

                #slider li img {width:100%;}

                #slider li.slideone {
                    top:50%; margin-top:-124px;
                    -moz-animation:cycle 30s ease infinite;
                    -webkit-animation:cycle 30s ease infinite;
                    animation:cycle 30s ease infinite;
                }

                #slider li.slidetwo {
                    top:50%; margin-top:-124px;
                    -moz-animation:cycletwo 30s ease infinite;
                    -webkit-animation:cycletwo 30s ease infinite;
                    animation:cycletwo 30s ease infinite;
                }

                #slider li.slidethree {
                    top:50%; margin-top:-124px;
                    -moz-animation:cyclethree 30s ease infinite;
                    -webkit-animation:cyclethree 30s ease infinite;
                    animation:cyclethree 30s ease infinite;
                }

                #slider li.slidefour {
                    top:50%; margin-top:-124px;
                    -moz-animation:cyclefour 30s ease infinite;
                    -webkit-animation:cyclefour 30s ease infinite;
                    animation:cyclefour 30s ease infinite;
                }

                #slider li.slidefive {
                    top:50%; margin-top:-124px;
                    -moz-animation:cyclefive 30s ease infinite;
                    -webkit-animation:cyclefive 30s ease infinite;
                    animation:cyclefive 30s ease infinite;
                }

                #slider li.slidesix {
                    top:50%; margin-top:-124px;
                    -moz-animation:cyclesix 30s ease infinite;
                    -webkit-animation:cyclesix 30s ease infinite;
                    animation:cyclesix 30s ease infinite;
                }

                 #slider li.slideseven {
                    top:50%; margin-top:-124px;
                    -moz-animation:cycleseven 30s ease infinite;
                    -webkit-animation:cycleseven 30s ease infinite;
                    animation:cycleseven 30s ease infinite;
                }


                @keyframes cycle {
                    0%  {left:150%;}
                    4%  {left:50%; margin-left:-150px;}
                    16% {left:50%; margin-left:-150px;}
                    20% {left:-100%;}
                    100%{left:-100%;}
                }


                @-webkit-keyframes cycle {
                    0%  {left:150%;}
                    3%  {left:50%; margin-left:-150px;}
                    12% {left:50%; margin-left:-150px;}
                    15% {left:-100%;}
                    100%{left:-100%;}
                }

                @keyframes cycletwo {
                    0%  {left:150%;}
                    12% {left:150%;}
                    15% {left:50%; margin-left:-150px;}
                    24% {left:50%; margin-left:-150px;}
                    27% {left:-100%;}
                    100%{left:-100%;}
                }

                @-webkit-keyframes cycletwo {
                    0%  {left:150%;}
                    13% {left:150%;}
                    15% {left:50%; margin-left:-150px;}
                    24% {left:50%; margin-left:-150px;}
                    27% {left:-100%;}
                    100%{left:-100%;}
                }

                @keyframes cyclethree {
                    0%  {left:150%;}
                    24% {left:150%;}
                    27% {left:50%; margin-left:-150px;}
                    36% {left:50%; margin-left:-150px;}
                    39% {left:-100%;}
                    100%{left:-100%;}
                }

                @-webkit-keyframes cyclethree {
                    0%  {left:150%;}
                    24% {left:150%;}
                    27% {left:50%; margin-left:-150px;}
                    36% {left:50%; margin-left:-150px;}
                    39% {left:-100%;}
                    100%{left:-100%;}
                }


                @keyframes cyclefour {
                    0%  {left:150%;}
                    36% {left:150%;}
                    39% {left:50%; margin-left:-150px;}
                    48% {left:50%; margin-left:-150px;}
                    51% {left:-100%;}
                    100%{left:-100%;}
                }

                @-webkit-keyframes cyclefour {
                    0%  {left:150%;}
                    36% {left:150%;}
                    39% {left:50%; margin-left:-150px;}
                    48% {left:50%; margin-left:-150px;}
                    51% {left:-100%;}
                    100%{left:-100%;}
                }

                @keyframes cyclefive {
                    0%  {left:150%;}
                    48% {left:150%;}
                    51% {left:50%; margin-left:-150px;}
                    60% {left:50%; margin-left:-150px;}
                    63% {left:-100%;}
                    100%{left:-100%;}
                }

                @-webkit-keyframes cyclefive {
                    0%  {left:150%;}
                    48% {left:150%;}
                    51% {left:50%; margin-left:-150px;}
                    60% {left:50%; margin-left:-150px;}
                    63% {left:-100%;}
                    100%{left:-100%;}
                }


                @keyframes cyclesix {
                    0%  {left:150%;}
                    60% {left:150%;}
                    63% {left:50%; margin-left:-150px;}
                    72% {left:50%; margin-left:-150px;}
                    75% {left:-100%;}
                    100%{left:-100%;}
                }

                @-webkit-keyframes cyclesix {
                    0%  {left:150%;}
                    60% {left:150%;}
                    63% {left:50%; margin-left:-150px;}
                    72% {left:50%; margin-left:-150px;}
                    75% {left:-100%;}
                    100%{left:-100%;}
                }

                @keyframes cycleseven {
                    0%  {left:150%;}
                    72% {left:150%;}
                    75% {left:50%; margin-left:-150px;}
                    84% {left:50%; margin-left:-150px;}
                    87% {left:-100%;}
                    100%{left:-100%;}
                }

                @-webkit-keyframes cycleseven {
                    0%  {left:150%;}
                    72% {left:150%;}
                    75% {left:50%; margin-left:-150px;}
                    84% {left:50%; margin-left:-150px;}
                    87% {left:-100%;}
                    100%{left:-100%;}
                }



        .toplogo {
            position:absolute;
            left:50%;
            top:50%;
            width:50%;
            margin:-50px 0 0 -90px;
            z-index:0;
            }

            .toplogo img{width:180px;}


        .copyright{font-size:0.5em;line-height:1.35em;margin-bottom:30px;}

}

@media (min-width:501px){
.emailmobile {display:none;}}


/* 태블릿PC */
@media (min-width: 501px) and (max-width: 1024px) {

            .tablehide {display:none;}


            .basiclogo {
            position:fixed;
            left:40px;
            top:40px;
            z-index:9;
            width:40px;
            }
                .basiclogo img{width:100%;}


            nav ul.menu{}
                ul.menu > li {position:absolute;font-size:0.9em;}
                        .menu li.aboutmenu {left:21%;}
                        .menu li.workmenu {left:34%;}

                             li.aboutmenu .aboutbar{
                                    position:absolute;
                                    display:block;
                                    top:1px;
                                    left:0px;
                                    width:0px;
                                    height:10px;
                                    background-color:#1603ff;
                                    z-index:101;
                                    transition:all 0.3s ease;
                                    -webkit-transition:all 0.3s ease;}

                            li.workmenu .workbar{
                                    position:absolute;
                                    display:block;
                                    top:1px;
                                    left:0px;
                                    width:0px;
                                    height:6px;
                                    background-color:#1603ff;
                                    z-index:101;
                                    transition:all 0.5s linear;
                                    -webkit-transition:all 0.5s linear;}

                .workmenu li{
                    display: block;
                    margin-right:0px;
                    margin-bottom:20px;}


    nav ul.category {
            height:80px;
            margin-bottom:6px;
            margin-top:-14px;
            padding-top:20px;
            overflow:hidden;
            }

            .category li{transform:translate(0, -300%);font-size:1.0em;margin-right:18px;margin-bottom:5px;letter-spacing:1.2px;}

                .category li.illustration{margin-right:0;}

            nav ul.menu li.workmenu:hover .workbar{width:209px;}

    .work ul li{
        float:left;
        width:48%;
        margin-right:2%;
        margin-bottom:2%;
        }
    /*
        .work ul li:nth-child(3n) {
            margin-right:2%;
            }
        .work ul li:nth-child(2n) {
            margin-right:0;
            }*/

    #about ul li{
        float:left;
        width:49%;
        margin-right:2%;
        margin-bottom:2%;
    }

        #about ul li:nth-child(3n) {
            margin-right:2%;
            }
        #about ul li:nth-child(2n) {
            margin-right:0;
            }
        #about ul li h3{font-size:1.6em;line-height:1.2em;}

        #about ul li img{margin-bottom:2px;}


            #about ul li.aboutwrapA {height:440px;}
            #about ul li.aboutwrapB {height:440px;}
            #about ul li.aboutwrapC {width:100%;height:270px;}
                #about ul li div.iam{margin-bottom:15px;}
                #about ul li div.interests{height:257px;}
                #about ul li div.whatido {height:440px;}
                #about ul li div.contact{height:150px;}


            .work ul li .worktitle{
            font-size:1.5em;
            letter-spacing: 1pt;}

            .work ul li .worktitle-white{
            font-size:1.5em;
            letter-spacing: 1pt;}

            .work ul li .subtitle{
            font-size:1.0em;
            letter-spacing:1px;
            line-height:1.2em;
            }

            .work ul li .subtitle-white{
            font-size:1.0em;
            letter-spacing:1px;
            line-height:1.2em;
            }
    /*#slider ul{width:700px;left:50%;top:50%;margin-top:-289px;}
    #slider li {width:700px;margin-left:-350px;}
    #slider li img{width:100%;}*/

    /* Slider TABLET PC */
    #slider {
	width:100%;
	height:100%;
	margin:0;
    z-index:3;
    overflow:hidden;
    position:relative;
        }

        #slider ul {
            position:relative;
            width:100%;
            height:100%;
        }

        #slider li {
            position:absolute;
            list-style:none;
            margin-top:-289px;
            top:50%;
        }
            #slider li img{width:700px;}

                @keyframes cycle {
                    0%  {left:150%;}
                    4%  {left:50%; margin-left:-484px;}
                    13% {left:50%; margin-left:-484px;}
                    15% {left:-100%;}
                    100%{left:-100%;}
                }


                @-webkit-keyframes cycle {
                    0%  {left:150%;}
                    4%  {left:50%; margin-left:-350px;}
                    13% {left:50%; margin-left:-350px;}
                    15% {left:-100%;}
                    100%{left:-100%;}
                }

                @keyframes cycletwo {
                    0%  {left:150%;}
                    13% {left:150%;}
                    15% {left:50%; margin-left:-350px;}
                    24% {left:50%; margin-left:-350px;}
                    27% {left:-100%;}
                    100%{left:-100%;}
                }

                @-webkit-keyframes cycletwo {
                    0%  {left:150%;}
                    13% {left:150%;}
                    15% {left:50%; margin-left:-350px;}
                    24% {left:50%; margin-left:-350px;}
                    27% {left:-100%;}
                    100%{left:-100%;}
                }

                @keyframes cyclethree {
                    0%  {left:150%;}
                    24% {left:150%;}
                    27% {left:50%; margin-left:-350px;}
                    36% {left:50%; margin-left:-350px;}
                    39% {left:-100%;}
                    100%{left:-100%;}
                }

                @-webkit-keyframes cyclethree {
                    0%  {left:150%;}
                    24% {left:150%;}
                    27% {left:50%; margin-left:-350px;}
                    36% {left:50%; margin-left:-350px;}
                    39% {left:-100%;}
                    100%{left:-100%;}
                }


                @keyframes cyclefour {
                    0%  {left:150%;}
                    36% {left:150%;}
                    39% {left:50%; margin-left:-350px;}
                    48% {left:50%; margin-left:-350px;}
                    51% {left:-100%;}
                    100%{left:-100%;}
                }

                @-webkit-keyframes cyclefour {
                    0%  {left:150%;}
                    36% {left:150%;}
                    39% {left:50%; margin-left:-350px;}
                    48% {left:50%; margin-left:-350px;}
                    51% {left:-100%;}
                    100%{left:-100%;}
                }

                @keyframes cyclefive {
                    0%  {left:150%;}
                    48% {left:150%;}
                    51% {left:50%; margin-left:-350px;}
                    60% {left:50%; margin-left:-350px;}
                    63% {left:-100%;}
                    100%{left:-100%;}
                }

                @-webkit-keyframes cyclefive {
                    0%  {left:150%;}
                    48% {left:150%;}
                    51% {left:50%; margin-left:-350px;}
                    60% {left:50%; margin-left:-350px;}
                    63% {left:-100%;}
                    100%{left:-100%;}
                }


                @keyframes cyclesix {
                    0%  {left:150%;}
                    60% {left:150%;}
                    63% {left:50%; margin-left:-350px;}
                    72% {left:50%; margin-left:-350px;}
                    75% {left:-100%;}
                    100%{left:-100%;}
                }

                @-webkit-keyframes cyclesix {
                    0%  {left:150%;}
                    60% {left:150%;}
                    63% {left:50%; margin-left:-350px;}
                    72% {left:50%; margin-left:-350px;}
                    75% {left:-100%;}
                    100%{left:-100%;}
                }

                @keyframes cycleseven {
                    0%  {left:150%;}
                    72% {left:150%;}
                    75% {left:50%; margin-left:-350px;}
                    84% {left:50%; margin-left:-350px;}
                    87% {left:-100%;}
                    100%{left:-100%;}
                }

                @-webkit-keyframes cycleseven {
                    0%  {left:150%;}
                    72% {left:150%;}
                    75% {left:50%; margin-left:-350px;}
                    84% {left:50%; margin-left:-350px;}
                    87% {left:-100%;}
                    100%{left:-100%;}
                }



    .copyright {margin-bottom:80px;}
}
